
@import '../../../../shared.css';

.jcd-proj-preview-item {
  --preview-img-width: 8rem;
  --preview-img-height: 6rem;
  border: 1px solid;
  border-radius: 0.15rem;
  border-color: var(--border-color-4);
  &:hover {
    border-color: var(--border-color-4-lite);
  }
  &.selected {
    border-color: var(--border-color-4-lite);
  }
  .heading, .content {
    padding-inline: 0.6rem;
    padding-top: 0.35rem;
    padding-bottom: 0.4rem;
  }
  .heading {
    display: flex;
    border-color: inherit;
    border-bottom: 1px solid;
    border-color: inherit;
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
    .title {
      flex: 1 1;
      color: var(--text-color-3);
    }
    .actions {

    }
  }
  .content {
    display: flex;
    border-color: inherit;
    column-gap: 0.75rem;
    .info {
      flex-grow: 1;
      height: fit-content;
      .info-item {

      }
    }
    .img-item {
      height: var(--preview-img-height);
      /* width: var(--preview-img-width); */
      img {
        max-width: var(--preview-img-width);
        max-height: var(--preview-img-height);
      }
    }
  }
}
