
@import "../../../../shared.css";

.login-page {
  .auth-error-banner {
    display: flex;
    padding: 0.5rem;
    width: max-content;
    border: 1px solid var(--error-color);
    /* background-color: rgb(from var(--error-color) r g b / 5%); */
    .banner-close {
      margin-left: 0.5rem;
    }
  }
}
