
@import "../../../../shared.css";

.login-page {

  section {
    &.auth-n {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 24rem;
      margin: 0 auto;
      .auth-errors {
        align-self: flex-start;
      }
    }
  }

}
