
@import '../../../../shared.css';

.login-form {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-header {
    font-size: 1.2rem;;
    padding: 0.2em 0;
    display: flex;
    align-items: center;
  }
  .auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    .login-field {
      &:not(:first-child) {
        padding-top: 1rem;
      }
      display: flex;
      align-items: end;
      .ezd-input {
        width: 100%;
      }
      .ezd-button {
        &.full-button {
          width: 100%
        }
      }
    }
  }

}
