
.auth-error-banner {

  align-self: flex-start;
  display: flex;
  padding: 0.5rem;
  margin-top: 0.75rem;
  width: max-content;
  border: 1px solid var(--error-color);
  /* background-color: rgb(from var(--error-color) r g b / 5%); */
  .banner-close {
    margin-right: 0.5rem;
  }

}
