
@import "./shared.css";

html {
  /* html elem is base for rem */
  font-size: 16px;
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;

    a {
      color: var(--link-color);
    }
  }
}
