
@import "./shared.css";

html {
  /* html elem is base for rem */
  font-size: 16px;
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;

    a {
      color: var(--link-color);
    }
  }
  h1 {
    margin-block: 0;
    padding-block: 0.335em;
  }
  h2 {
    margin-block: 0;
    font-size: 1.25rem;
  }
  h3 {
    margin-block: 0;
    padding-block-end: 0.2rem;
  }
}
